* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}
#page-wrap {
  max-width: 1630px;
  margin: 0 auto;
}

header {
  background-image: url(https://picsum.photos/seed/picuum/1600/500);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 300px;
}
h1 {
  padding: 250px;

}

