* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1630px;
  margin: auto;
  font-family: "Roboto";
}

header {
  background-image: url(https://picsum.photos/seed/picsum/1600/500);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 300px;
  text-align: ;
}
h1 {
#page-wrap {
  max-width: 1630px;
  margin: 0 auto;
}
