* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}
#page-wrap {
  max-width: 1630px;
  margin: 0 auto;
}

header {
  background-image: url(https://picsum.photos/id/390/1000/1000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 579px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#at-bo-i-kolding-title {
  background-color: #ffff;
  margin-left: 115px;
  display: block;
  padding: 25px;
  font-size: 25px;
  color: #be1212;
  max-width: 660px;
  font-family: "Roboto";
  font-weight: 600;
  width: 550px;
}
