/* FOOTER */

.afooter {
  height: 338px;
  position: relative;
}

/* FØLG OS PÅ */

.følgos {
  background-color: #be1212;
  position: relative;
  height: 40vh;
  width: auto;
}

.picture-container {
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  max-width: 1630px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas: "a1 a1 a2 a3 a4 a5";
  position: absolute;
  top: 75px;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#a4 {
  grid-area: a4;
}

#a5 {
  grid-area: a5;
}

.følgos h5 {
  font-size: 30px;
  color: white;
  font-size: 60px;
  padding-left: 50px;
  padding-right: 120px;
}

@media screen and (max-width: 700px) {
  .picture-container {
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    max-width: 1630px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, minmax(150px, 1fr));
    grid-template-areas:
      "a1 a1"
      "a2 a3"
      "a4 a5";
    position: absolute;
    top: 75px;
  }

  .følgos {
    position: relative;
    height: 30vh;
  }
}

@media screen and (max-width: 700px) {
  .følgos {
    grid-template-columns: auto;
  }
}

/* NYTTIGE LINKS */

.footer-text {
  font-size: 20px;
  line-height: 30px;
  padding: 40px 60px;
}

.footer-text h4 {
  color: #be1212;
  font-size: 30px;
  line-height: 40px;
}

.middle-footer {
  position: relative;
  background-color: #eaeaea;
  height: auto;
}

.nyttige-links {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  top: 25px;
  right: 60px;
  gap: 30px;
}

.nyttige-links ul {
  list-style-type: none;
}

.nyttige-links h5 {
  color: #be1212;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.nyttige-links li {
  text-align: center;
  font-size: 15px;
}

.nyttige-links a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.nyttige-links a:hover {
  color: #be1212;
}

/* FOOTER-STRIP */

.footer-strip {
  position: relative;
  height: 80px;
  background-color: whitesmoke;
  overflow: hidden;
}

.footer-strip p {
  position: absolute;
  top: 2.2vw;
  left: 5vw;
}

.footer-strip ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 2.2vw;
  right: 5vw;
  gap: 5vw;
}

.footer-strip li a {
  text-decoration: none;
  color: black;
}

.footer-strip li a:hover {
  color: #be1212;
  transition: 300ms ease-in-out;
}
