nav {
  font-weight: 400;
  position: relative;
  box-shadow: 0px 0px 20px 0px;
}

.nav-container {
  background-color: #f2f2f2;
  width: 100%;
}

.a-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: absolute;
  top: 20px;
  right: 250px;
  gap: 35px;
}

nav ul li {
  text-align: end;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

nav ul li a:hover {
  transition: 300ms ease-in-out;
}

nav img {
  width: 20vw;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 300px;
  background-color: #474646;
  box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
  padding: 20px;
  border-radius: 15px;
  line-height: 30px;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  color: rgb(250, 244, 244);
  display: block;
  text-align: left;
  transition: 300ms ease-in-out;
}

.dropdown a:hover {
  color: rgb(141, 13, 13);
}

/* SØGEFELT */

nav form {
  height: 100px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

nav form input {
  width: 40%;
  height: 50px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

nav form.active {
  display: flex;
}

nav svg {
  cursor: pointer;
  width: 1vw;
  height: 1vw;
}

/* MEDIAQUERIES */

@media screen and (max-width: 700px) {
  .a-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
  }
}

@media screen and (max-width: 768px) {
  .a-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 35px;
  }
}
