nav {
  background-color: #f2f2f2;
  font-weight: 400;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px;
}

.nav-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

nav img {
  width: 20vw;
}

.a-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: absolute;
  top: 1.4vw;
  right: 15vw;
  gap: 3vw;
}

nav ul li {
  text-align: end;
}

nav ul li a {
  text-decoration: none;
  font-size: 1vw;
  color: black;
}

nav ul li a:hover {
  transition: 300ms ease-in-out;
}

nav img {
  width: 20vw;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 18vw;
  background-color: #474646;
  box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
  padding: 20px;
  border-radius: 15px;
  line-height: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  color: rgb(250, 244, 244);
  display: block;
  text-align: left;
  transition: 300ms ease-in-out;
}

.dropdown a:hover {
  color: rgb(141, 13, 13);
}

/* SØGEFELT */

nav form{
height: 100px;
width: 100%;
display: none;
justify-content: center;
align-items: center;
position: absolute;
background-color: rgba(0, 0, 0, 0.5);
}

nav form input{
  width: 40%;
  height: 50px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

nav form.active{
  display: flex;
}

nav svg{
  cursor: pointer;
  width: 1vw;
  height: 1vw;
}