nav {
  font-weight: 400;
  box-shadow: 0px 0px 20px 0px;
}

.mobile-container {
  max-width: 1630px;
  background-color: #eaeaea;
  position: relative;
}

nav img {
  width: 450px;
}

.list {
  width: 60px;
}

.topnav {
  background-color: #eaeaea;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.topnav a.icon {
  background-color: #eaeaea;
  display: block;
  position: absolute;
  right: 50px;
  top: -4px;
}

.topnav a:hover {
  background-color: gainsboro;
}

.active {
  background-color: #eaeaea;
}

/* SØGEFELT */

nav form {
  height: 100px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

nav form input {
  width: 40%;
  height: 50px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

nav form.active {
  display: flex;
}

nav svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* MEDIAQUERIES */

@media screen and (max-width: 700px) {
  nav img {
    width: 350px;
  }

  .list {
    width: 42px;
  }
}
