
body {
  max-width: 1630px;
  margin: auto;
  font-family: "Roboto";
}


nav {
  background-color: #f2f2f2;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.nav-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

nav img {
  width: 20vw;
}

.a-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: absolute;
  top: 1.4vw;
  right: 15vw;
  gap: 3vw;
}

nav ul li {
  text-align: end;
}

nav ul li a {
  text-decoration: none;
  font-size: 1vw;
  color: black;
}

nav ul li a:hover {
  transition: 300ms ease-in-out;
}

nav img {
  width: 20vw;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 18vw;
  background-color: #474646;
  box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
  padding: 20px;
  border-radius: 15px;
  line-height: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  color: rgb(250, 244, 244);
  display: block;
  text-align: left;
  transition: 300ms ease-in-out;
}

.dropdown a:hover {
  color: rgb(141, 13, 13);
}

/* SØGEFELT */

input[type="text"] {
  width: 140px;
  position: absolute;
  right: 1vw;
  top: 1vw;
  margin-right: 5vw;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(./Billedmateriale/Search.png);
  background-position: 5px 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 5px 40px 5px 40px;
  transition: 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 15%;
}

/* FOOTER */

.afooter {
  height: 338px;
  position: relative;
}

/* FØLG OS PÅ */

.følgos {
  background-color: #7e4646;
  height: 20vw;
}

.følgos h2 {
  color: white;
  margin-left: 5vw;
  font-size: 4vw;
  position: absolute;
  top: 7vw;
}

.socialmedia img {
  position: relative;
  left: 35vw;
  top: 4vw;
  margin: 2vw;
}

/* NYTTIGE LINKS */

.afooter-text {
  position: absolute;
  top: 5vw;
  font-size: 1.2vw;
  line-height: 2vw;
  margin: 0 5vw 5vw 5vw;
}

.afooter-text h4 {
  font-size: 2vw;
  margin-bottom: 1.5vw;
}

.textoglinks {
  margin-right: 5vw;
}

.textoglinks-container {
  position: relative;
  background-color: #dcb8b8;
  height: 20vw;
}

.nyttige-links {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  top: 2.5vw;
  right: 5vw;
  gap: 5vw;
}

.nyttige-links ul {
  list-style-type: none;
}

.nyttige-links h5 {
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: 1vw;
}

.nyttige-links li {
  text-align: center;
  font-size: 1vw;
}

.nyttige-links a {
  color: black;
  text-decoration: none;
  line-height: 3vw;
}

.nyttige-links a:hover {
  color: rgb(141, 13, 13);
}

/* FOOTER-STRIP */

.footer-strip {
  position: relative;
  height: 80px;
  background-color: whitesmoke;
  overflow: hidden;
}

.footer-strip p {
  position: absolute;
  top: 2.2vw;
  left: 5vw;
}

.footer-strip ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 2.2vw;
  right: 5vw;
  gap: 5vw;
}

.footer-strip li a {
  text-decoration: none;
  color: black;
}

.footer-strip li a:hover {
  color: rgb(141, 13, 13);
  transition: 300ms ease-in-out;
}


/* Header */
header{
  background-image: url(/Billedmateriale/indk├©bscenter.jpg);
  background-size: cover;
  min-height: 579px;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

header h1 {
 font-size: 100px;
 background-color: white;
 color:rgb(180, 176, 176);
}

#lead {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Gågaden - Havnen - events */

#grid{
  margin: 60px;
  max-width: 1630px;
  font-family: "Roboto";
  font-weight: 100;
  color: white;
  background-color:rgb(180, 176, 176);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(250px, 600px) minmax(250px, 600px) minmax(250px, 600px);
  grid-template-areas: 
  "box1 box2"
  "box3 box4"
  "box5 box6";
}

#grid p, h2{
  padding: 15px;
}
#grid img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box4;
}
#box4 {
  grid-area: box3;
}

#box5{
  grid-area: box5;
}

#box6{
  grid-area: box6;
}
