body {
  max-width: 1630px;
  margin: auto;
  font-family: "Roboto";
}

#page-wrap {
  max-width: 1630px;
  margin: 0 auto;
}

/* Zozan */

header {
  background-image: url(../Billedmateriale/indk├©bscenter.jpg);
  background-size: cover;
  min-height: 579px;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.oplevelser-title {
  position: relative;
  left: 90px;
  width: 680px;
  height: 100px;
  font-weight: 700;
  background-color: #ffffff;
  border-style: solid;
  border-color: #eaeaea;
  color: #be1212;
}

.oplevelser-title h1 {
  font-size: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#lead {
  position: relative;
  left: 185px;
  padding: 100px;
  width: 75%;
  height: 100%;
  text-align: center;
  text-align: justify;
}

#grid {
  margin: 60px;
  max-width: 1630px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  color: black;
  background-color: #eaeaea;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(250px, 600px) minmax(250px, 600px) minmax(
      250px,
      600px
    );
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box6";
}

#grid p {
  padding: 15px;
  text-align: justify;
}

#grid h2 {
  padding: 15px;
  color: #be1212;
}

#grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box4;
}
#box4 {
  grid-area: box3;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr)
      minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(150px, 1fr);
    grid-template-areas:
      "nav"
      "header"
      "box1 box2"
      "box3 box4"
      "box5 box6"
      "footer";
  }

  @media screen and (max-width: 700px) {
    #grid {
      font-size: 15px;
    }
  }
}
