* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1630px;
  margin: auto;
  font-family: "Roboto";
}

header {
  height: 45vh;
  max-width: 1630px;
  background-image: url(/Billedmateriale/cafe2.jpg);
  background-position: 20vw;
  background-size: cover;
  opacity: 60%;
  position: relative;
}

.h3-container h3 {
  color: #be1212;
  font-size: 4vw;
  width: 30vw;
  height: 11vh;
  text-align: center;
  position: absolute;
  top: 15px;
}

.h3-container {
  background-color: #eaeaea;
  width: 40vw;
  height: 100px;
  border-style: ridge;
  position: absolute;
  top: 20.5vw;
  left: 15vw;
}

.bg-section .p-container {
  padding: 80px 0 60px 0;
  margin: 0 40px;
  display: flex;
  justify-content: center;
}

.bg-section .p-container p {
  color: #313131;
  line-height: 30px;
}

/* ARTIKLER */

.threearticles {
  background-color: #eaeaea;
  display: flex;
}

.threearticles p {
  color: #313131;
  line-height: 17px;
  padding: 0;
  font-size: 12px;
}

.threearticles h4 {
  color: #be1212;
  font-size: 20px;
  margin-bottom: 5px;
}

.threearticles h5 {
  color: #313131;
  margin-bottom: 5px;
}

.trafik,
.overnatning,
.madogdrikke {
  padding: 40px;
}

/* ARTICLE-GRID */

.article-grid {
  background-color: whitesmoke;
}

#p1 {
  grid-area: a;
}

#t1 {
  grid-area: b;
  padding-bottom: 60px;
  padding-right: 60px;
}
#p2 {
  grid-area: c;
}

#p2 img {
  height: 40vh;
  padding-bottom: 30px;
}

#t2 {
  grid-area: d;
}

.grid-containerart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "b b a"
    "c c none"
    "d d none";
  padding: 60px;
}

figure img {
  width: 100%;
}

.grid-containerart > div {
  position: relative;
  font-size: 20px;
  color: #313131;
  font-family: PlayFairT;
  padding: 60px;
}

.grid-containerart h3 {
  color: #be1212;
  line-height: 40px;
}
