/* ANNE */

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1630px;
  margin: auto;
  font-family: "Roboto";
}

nav {
  background-color: #f2f2f2;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.nav-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

nav img {
  width: 20vw;
}

.a-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: absolute;
  top: 1.4vw;
  right: 15vw;
  gap: 3vw;
}

nav ul li {
  text-align: end;
}

nav ul li a {
  text-decoration: none;
  font-size: 1vw;
  color: black;
}

nav ul li a:hover {
  transition: 300ms ease-in-out;
}

nav img {
  width: 20vw;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 18vw;
  background-color: #474646;
  box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
  padding: 20px;
  border-radius: 15px;
  line-height: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  color: rgb(250, 244, 244);
  display: block;
  text-align: left;
  transition: 300ms ease-in-out;
}

.dropdown a:hover {
  color: rgb(141, 13, 13);
}

/* SØGEFELT */

input[type="text"] {
  width: 140px;
  position: absolute;
  right: 1vw;
  top: 1vw;
  margin-right: 5vw;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(./Billedmateriale/Search.png);
  background-position: 5px 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 5px 40px 5px 40px;
  transition: 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 15%;
}

/* HEADER GRID */

header {
  max-width: 1630px;
  margin: 2vw 0vw 2vw 0vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, minmax(250px, 1fr));
  grid-template-areas:
    "b1 b1 b2 b3 b3"
    "b1 b1 b4 b5 b5"
    "b6 b7 b7 b5 b5"
    "b6 b8 b9 b9 b10";
  gap: 20px;
}

.figure-content figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw;
  font-size: 0.8vw;
  overflow: hidden;
}

.h2-grid {
  font-size: 1vw;
}

#b1 {
  grid-area: b1;
  background-image: url(./Billedmateriale/torv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b2 {
  grid-area: b2;
  background-image: url(./Billedmateriale/havn_tr├ªskib.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b3 {
  grid-area: b3;
  background-image: url(./Billedmateriale/kunst2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b4 {
  grid-area: b4;
  background-image: url(./Billedmateriale/banega╠èrd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b5 {
  grid-area: b5;
  background-image: url(./Billedmateriale/bibliotek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b6 {
  grid-area: b6;
  background-image: url(./Billedmateriale/cafe2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b7 {
  grid-area: b7;
  background-image: url(./Billedmateriale/designskolen2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b8 {
  grid-area: b8;
  background-image: url(./Billedmateriale/natteliv_livemusik.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b9 {
  grid-area: b9;
  background-image: url(./Billedmateriale/banega╠èrd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b10 {
  grid-area: b10;
  background-image: url(./Billedmateriale/lystba╠èdhavn2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#b1,
#b6 {
  margin-left: 5vw;
}

#b3,
#b5,
#b10 {
  margin-right: 5vw;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(200px, 1fr));
    grid-template-areas:
      "b1 b2"
      "b3 b4"
      "b5 b5"
      "b6 b7"
      "b8 b9"
      "b10 b10";
  }
}

@media screen and (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, minmax(150px, 1fr));
    grid-template-areas:
      "b1"
      "b2"
      "b4"
      "b5"
      "b6"
      "b7"
      "b8"
      "b9";
  }

  #b3,
  #b10 {
    display: none;
  }
}

/* FOOTER */

.afooter {
  height: 338px;
  position: relative;
}

/* FØLG OS PÅ */

.følgos {
  background-color: #7e4646;
  height: 20vw;
}

.følgos h2 {
  color: white;
  margin-left: 5vw;
  font-size: 4vw;
  position: absolute;
  top: 7vw;
}

.socialmedia img {
  position: relative;
  left: 35vw;
  top: 4vw;
  margin: 2vw;
}

/* NYTTIGE LINKS */

.afooter-text {
  position: absolute;
  top: 5vw;
  font-size: 1.2vw;
  line-height: 2vw;
  margin: 0 5vw 5vw 5vw;
}

.afooter-text h4 {
  font-size: 2vw;
  margin-bottom: 1.5vw;
}

.textoglinks {
  margin-right: 5vw;
}

.textoglinks-container {
  position: relative;
  background-color: #dcb8b8;
  height: 20vw;
}

.nyttige-links {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  top: 2.5vw;
  right: 5vw;
  gap: 5vw;
}

.nyttige-links ul {
  list-style-type: none;
}

.nyttige-links h5 {
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: 1vw;
}

.nyttige-links li {
  text-align: center;
  font-size: 1vw;
}

.nyttige-links a {
  color: black;
  text-decoration: none;
  line-height: 3vw;
}

.nyttige-links a:hover {
  color: rgb(141, 13, 13);
}

/* FOOTER-STRIP */

.footer-strip {
  position: relative;
  height: 80px;
  background-color: whitesmoke;
  overflow: hidden;
}

.footer-strip p {
  position: absolute;
  top: 2.2vw;
  left: 5vw;
}

.footer-strip ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 2.2vw;
  right: 5vw;
  gap: 5vw;
}

.footer-strip li a {
  text-decoration: none;
  color: black;
}

.footer-strip li a:hover {
  color: rgb(141, 13, 13);
  transition: 300ms ease-in-out;
}

/* Penille */

#explore-kolding {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  margin: 2vw 5vw 2vw 5vw;
  max-width: 1630px;
  font-family: "Roboto";
  gap: 5px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-template-areas:
    "box1 box1 box2 box3 box4"
    "box1 box1 box5 box6 box7";
}

#explore-kolding img {
  width: 100%;
  max-width: 310px;
  min-height: 257px;
  max-height: 257px;
  object-fit: cover;
}

#explore-kolding h2 {
  font-weight: 500;
  text-align: left;
  line-height: 1.5vw;
  margin-right: 17vw;
  margin-bottom: 1.5vw;
}

#explore-kolding p#larger-text {
  font-weight: 200;
  text-align: left;
  margin-right: 7.5vw;
}

#explore-kolding p {
  font-family: "Roboto";
  font-weight: 200;
  text-align: center;
}

#box1 {
  grid-area: box1;
  align-self: center;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

#box7 {
  grid-area: box7;
}

/* Zozan */
.map {
  position: relative;
  text-align: right;
  height: 600px;
  width: 1630px;
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 1630px;
}

/* ALEX */

#kommende-begivenheder {
  background-color: #eaeaea;
}

#kommende-begivenheder h2 {
  font-size: 35px;
  font-weight: 700;
  padding-left: 5vw;
  padding-top: 5vw;
  padding-bottom: 2vw;
  color: #be1212;
}

.begivenheder-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 5vw 5vw 0vw 5vw;
  gap: 10px;
  max-width: 1630px;
  grid-template-areas:
  "begiv1 begiv2 begiv2 begiv3"
  "begiv4 begiv5 begiv5 begiv6"
  "begiv7 begiv8 begiv8 begiv9";
}

.begivenheder-container img {
  position: relative;
  bottom: 60px;
  width: 100%;
  max-height: 216px;
  object-fit: cover;
}

.begivenheder-container p {
  position: relative;
  right: 80px;
}

.begivenheder-container span {
  font-weight: 500;
}

.begiv1 {
  grid-area: begiv1;
  font-weight: 500;
  color: #be1212;
}

.begiv1 span {
  font-size: 60px;
}

.begiv2 {
  grid-area: begiv2;
}

.begiv3 {
  grid-area: begiv3;
}

.begiv4 {
  grid-area: begiv4;
  font-weight: 500;
  color: #be1212;
}

.begiv4 span {
  font-size: 60px;
}

.begiv5 {
  grid-area: begiv5;
}

.begiv6 {
  grid-area: begiv6;
}

.begiv7 {
  grid-area: begiv7;
  font-weight: 500;
  color: #be1212;
}

.begiv7 span {
  font-size: 60px;
}

.begiv8 {
  grid-area: begiv8;
}

.begiv9 {
  grid-area: begiv9;
}
