/* ANNE */
/* 
*{
    margin: 0;
    padding: 0;
} */

body{
    max-width: 1630px;
    font-family: 'Roboto';
}

nav{
    background-color: #F2F2F2;
    font-weight: 400;
    position: relative;
    z-index: 1;
    
}

.nav-container{
    margin-left: 5vw;
    margin-right: 5vw;
}

nav img{
    width: 20vw;
}

.a-ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: absolute;
  top: 1.4vw;
  right: 15vw;
  gap: 3vw;
}

li{
    text-align: end;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1vw;
    color: black;
}

nav ul li a:hover{
    transition: 300ms ease-in-out;
}



            /* DROPDOWN */

.dropdown{
    position: relative;
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 18vw;
    background-color: #474646;
    box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
    padding: 20px;
    border-radius: 15px;
    line-height: 30px;
}

.dropdown:hover .dropdown-content{
    display: block;
  }

.dropdown-content a{
      text-decoration: none;
      color: rgb(250, 244, 244);
      display: block;
      text-align: left;
      transition: 300ms ease-in-out;
    }

.dropdown a:hover{
        color: rgb(141, 13, 13);
    }

                /* SØGEFELT */

input[type=text] {
        width: 140px;
        position: absolute;
        right: 0;
        top: 1vw;
        margin-right: 5vw;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url(./Billedmateriale/Search.png);
        background-position: 5px 5px; 
        background-size: 20px;
        background-repeat: no-repeat;
        padding: 5px 40px 5px 40px;
        transition: 0.4s ease-in-out;
      }
      
input[type=text]:focus {
        width: 15%;
      }

                        /* FOOTER */

/* .afooter{
    
} */

                        /* FØLG OS PÅ */

                        /* NYTTIGE LINKS */

.afooter-text{
    position: inherit;
    top: 5vw;
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 0 5vw 5vw 5vw;
}

.afooter-text h4{
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

.textoglinks{
    position: relative;
    margin-right: 5vw;
 
}

.textoglinks-container{
    background-color:#dcb8b8;
    height: 20vw;

   
}

.afooter ul{
    list-style-type: none;
}


.nyttige-links{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    top: 2.5vw;
    right: 0;
    gap: 5vw;
}

.nyttige-links h5{
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

.nyttige-links li{
    text-align: center;
    font-size: 1vw;
}

.nyttige-links a{
    color: black;
    text-decoration: none;
    line-height: 3vw;
}

.nyttige-links a:hover{
    color: rgb(141, 13, 13);
}

                        /* FOOTER-STRIP */

.footer-strip{
    position: relative;
    height: 6.588579795021962vw;
    background-color: whitesmoke;
    overflow: hidden;
}

.footer-strip-container{
    margin: 5vw;
}

.footer-strip p{
    position: absolute;
    top: 2.5vw;
    font-size: 1vw;
}

.footer-strip ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    top: 2.5vw;
    right: 5vw;
    gap: 3vw;
}

.footer-strip li a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

.footer-strip li a:hover{
    color: rgb(141, 13, 13); 
    transition: 300ms ease-in-out;
}