/* ANNE */

nav{
    position: relative;
}

.a-ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  position: absolute;
  top: 0;
  right: 15vw;
  gap: 4vw;
}

li{
    text-align: end;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}

nav img{
    width: 20vw;
}

.button-search{
    background-color: white;
    cursor: pointer;
    border-style: hidden;
    position: absolute;
    top: 0.8vw;
    right: 2vw;
}

.søg{
    position: absolute;
    right: 0;
    top: 0.3vw;
}

.form-input{
    position: absolute;
    top: 1vw;
    right: 5vw;
    width: 7vw;
}

.dropdown{
    position: relative;
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 15vw;
    background-color: #444444;
    box-shadow: 0px 8px 16px 0px rgb(139, 139, 135);
    padding: 20px;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content{
    display: block;
  }

.dropdown a{
      text-decoration: none;
      color: black;
      display: block;
      text-align: left;
      transition: 300ms ease-in-out;
    }

.dropdown a:hover{
        color: rgb(99, 99, 96);
    }